USE [master]
GO
/****** Object:  Database [PuntoDeVenta]    Script Date: 14/04/2019 1:26:13 ******/
CREATE DATABASE [PuntoDeVenta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PuntoDeVenta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PuntoDeVenta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PuntoDeVenta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PuntoDeVenta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PuntoDeVenta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PuntoDeVenta]
GO
/****** Object:  Table [dbo].[articulo]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulo](
	[IdArticulo] [bigint] NOT NULL,
	[Codigo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Imagen] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista1]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista1] 
as 
select IdArticulo, Codigo, Nombre, Descripcion, Imagen from articulo 
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [bigint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Sexo] [text] NULL,
	[Telefono] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista2]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista2] 
as 
select Id, Nombre, Apellidos, Sexo, Telefono from Cliente
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[IdVenta] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio_Venta] [int] NOT NULL,
	[Descuento] [int] NOT NULL,
	[IdDetalle] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista3]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista3] 
as 
select IdVenta, Cantidad, Precio_Venta, Descuento, IdDetalle from detalle_venta
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[IdTrabajador] [varchar](50) NULL,
	[Monto_Pago] [money] NULL,
	[Dia_Pago] [date] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista4]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista4]
as 
select IdTrabajador, Monto_Pago, Dia_Pago, Nombre, Apellidos from Pagos
GO
/****** Object:  Table [dbo].[Trabajador]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajador](
	[IdTrabajador] [bigint] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[Hora_Entrada] [time](7) NULL,
	[Hora_Salida] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista5]    Script Date: 14/04/2019 1:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista5] 
as 
select IdTrabajador, Nombre, Apellidos, Hora_Entrada, Hora_Salida from Trabajador
GO
INSERT [dbo].[articulo] ([IdArticulo], [Codigo], [Nombre], [Descripcion], [Imagen]) VALUES (1849, 31, N'Leche', N'Es leche', NULL)
INSERT [dbo].[articulo] ([IdArticulo], [Codigo], [Nombre], [Descripcion], [Imagen]) VALUES (1849, 31, N'Leche', N'Es leche', NULL)
INSERT [dbo].[articulo] ([IdArticulo], [Codigo], [Nombre], [Descripcion], [Imagen]) VALUES (9189, 10, N'Jamon', N'Rico y bueno', NULL)
INSERT [dbo].[Cliente] ([Id], [Nombre], [Apellidos], [Sexo], [Telefono]) VALUES (1, N'DANIEL', N'OVALLE', N'Masculino', 811747232)
INSERT [dbo].[Cliente] ([Id], [Nombre], [Apellidos], [Sexo], [Telefono]) VALUES (2, N'DANIELA', N'SAGAON', N'Diosa', 811747252)
INSERT [dbo].[Cliente] ([Id], [Nombre], [Apellidos], [Sexo], [Telefono]) VALUES (3, N'CYNTHIA', N'RIVERA', N'HERMOSA', 811747252)
INSERT [dbo].[detalle_venta] ([IdVenta], [Cantidad], [Precio_Venta], [Descuento], [IdDetalle]) VALUES (1931, 5, 100, 25, N'Quesos')
INSERT [dbo].[detalle_venta] ([IdVenta], [Cantidad], [Precio_Venta], [Descuento], [IdDetalle]) VALUES (1111, 4, 20, 25, N'Quesos')
INSERT [dbo].[detalle_venta] ([IdVenta], [Cantidad], [Precio_Venta], [Descuento], [IdDetalle]) VALUES (2222, 6, 592, 30, N'Jamones')
INSERT [dbo].[Pagos] ([IdTrabajador], [Monto_Pago], [Dia_Pago], [Nombre], [Apellidos]) VALUES (N'1928', 5000.0000, NULL, N'Aurelio', N'Hernandez')
INSERT [dbo].[Pagos] ([IdTrabajador], [Monto_Pago], [Dia_Pago], [Nombre], [Apellidos]) VALUES (N'1928', 5000.0000, NULL, N'Aurelio', N'Hernandez')
INSERT [dbo].[Pagos] ([IdTrabajador], [Monto_Pago], [Dia_Pago], [Nombre], [Apellidos]) VALUES (N'4820', 5000.0000, NULL, N'Barry', N'Allen')
INSERT [dbo].[Trabajador] ([IdTrabajador], [Nombre], [Apellidos], [Hora_Entrada], [Hora_Salida]) VALUES (182013, N'Oscar', N'Burgos', NULL, NULL)
INSERT [dbo].[Trabajador] ([IdTrabajador], [Nombre], [Apellidos], [Hora_Entrada], [Hora_Salida]) VALUES (183313, N'Zack', N'Cody', NULL, NULL)
INSERT [dbo].[Trabajador] ([IdTrabajador], [Nombre], [Apellidos], [Hora_Entrada], [Hora_Salida]) VALUES (141413, N'Hedwing', N'Etc', NULL, NULL)
USE [master]
GO
