USE [master]
GO
/****** Object:  Database [PuntoDeVenta]    Script Date: 20/04/2019 4:31:13 ******/
CREATE DATABASE [PuntoDeVenta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PuntoDeVenta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PuntoDeVenta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PuntoDeVenta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PuntoDeVenta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PuntoDeVenta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PuntoDeVenta]
GO
/****** Object:  UserDefinedFunction [dbo].[ArticulosA]    Script Date: 20/04/2019 4:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ArticulosA](@estado varchar)
returns varchar (50)
as 
begin
	declare @cdg int;
	declare @Nom varchar(50);

	set @cdg=(select o.codigo from articulo as o where o.codigo=@estado);

	if(@cdg=1)
		begin 
			set @Nom='Si Existe cantidad';
			end
	else if(@cdg=2)
		begin 
			set @Nom='No existe cantidad';
			end
	else if(@cdg=3)
		begin 
			set @Nom='LLLENO';
			end
		return @Nom
	end
GO
/****** Object:  Table [dbo].[articulo]    Script Date: 20/04/2019 4:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulo](
	[IdArticulo] [bigint] NOT NULL,
	[Codigo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [text] NOT NULL,
	[Imagen] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista1]    Script Date: 20/04/2019 4:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista1] 
as 
select IdArticulo, Codigo, Nombre, Descripcion, Imagen from articulo 
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 20/04/2019 4:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [bigint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Sexo] [text] NULL,
	[Telefono] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista2]    Script Date: 20/04/2019 4:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista2] 
as 
select Id, Nombre, Apellidos, Sexo, Telefono from Cliente
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 20/04/2019 4:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[IdVenta] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio_Venta] [int] NOT NULL,
	[Descuento] [int] NOT NULL,
	[IdDetalle] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista3]    Script Date: 20/04/2019 4:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista3] 
as 
select IdVenta, Cantidad, Precio_Venta, Descuento, IdDetalle from detalle_venta
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 20/04/2019 4:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[IdTrabajador] [varchar](50) NULL,
	[Monto_Pago] [money] NULL,
	[Dia_Pago] [date] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista4]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista4]
as 
select IdTrabajador, Monto_Pago, Dia_Pago, Nombre, Apellidos from Pagos
GO
/****** Object:  Table [dbo].[Trabajador]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajador](
	[IdTrabajador] [bigint] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[Hora_Entrada] [time](7) NULL,
	[Hora_Salida] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista5]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vista5] 
as 
select IdTrabajador, Nombre, Apellidos, Hora_Entrada, Hora_Salida from Trabajador
GO
INSERT [dbo].[articulo] ([IdArticulo], [Codigo], [Nombre], [Descripcion], [Imagen]) VALUES (1849, 31, N'Leche', N'Es leche', NULL)
INSERT [dbo].[articulo] ([IdArticulo], [Codigo], [Nombre], [Descripcion], [Imagen]) VALUES (1849, 31, N'Leche', N'Es leche', NULL)
INSERT [dbo].[articulo] ([IdArticulo], [Codigo], [Nombre], [Descripcion], [Imagen]) VALUES (9189, 10, N'Jamon', N'Rico y bueno', NULL)
INSERT [dbo].[Cliente] ([Id], [Nombre], [Apellidos], [Sexo], [Telefono]) VALUES (1, N'DANIEL', N'OVALLE', N'Masculino', 811747232)
INSERT [dbo].[Cliente] ([Id], [Nombre], [Apellidos], [Sexo], [Telefono]) VALUES (2, N'DANIELA', N'SAGAON', N'Diosa', 811747252)
INSERT [dbo].[Cliente] ([Id], [Nombre], [Apellidos], [Sexo], [Telefono]) VALUES (3, N'CYNTHIA', N'RIVERA', N'HERMOSA', 811747252)
INSERT [dbo].[detalle_venta] ([IdVenta], [Cantidad], [Precio_Venta], [Descuento], [IdDetalle]) VALUES (1931, 5, 100, 25, N'Quesos')
INSERT [dbo].[detalle_venta] ([IdVenta], [Cantidad], [Precio_Venta], [Descuento], [IdDetalle]) VALUES (1111, 4, 20, 25, N'Quesos')
INSERT [dbo].[detalle_venta] ([IdVenta], [Cantidad], [Precio_Venta], [Descuento], [IdDetalle]) VALUES (2222, 6, 592, 30, N'Jamones')
INSERT [dbo].[Pagos] ([IdTrabajador], [Monto_Pago], [Dia_Pago], [Nombre], [Apellidos]) VALUES (N'1928', 5000.0000, NULL, N'Aurelio', N'Hernandez')
INSERT [dbo].[Pagos] ([IdTrabajador], [Monto_Pago], [Dia_Pago], [Nombre], [Apellidos]) VALUES (N'1928', 5000.0000, NULL, N'Aurelio', N'Hernandez')
INSERT [dbo].[Pagos] ([IdTrabajador], [Monto_Pago], [Dia_Pago], [Nombre], [Apellidos]) VALUES (N'4820', 5000.0000, NULL, N'Barry', N'Allen')
INSERT [dbo].[Trabajador] ([IdTrabajador], [Nombre], [Apellidos], [Hora_Entrada], [Hora_Salida]) VALUES (182013, N'Oscar', N'Burgos', NULL, NULL)
INSERT [dbo].[Trabajador] ([IdTrabajador], [Nombre], [Apellidos], [Hora_Entrada], [Hora_Salida]) VALUES (183313, N'Zack', N'Cody', NULL, NULL)
INSERT [dbo].[Trabajador] ([IdTrabajador], [Nombre], [Apellidos], [Hora_Entrada], [Hora_Salida]) VALUES (141413, N'Hedwing', N'Etc', NULL, NULL)
/****** Object:  StoredProcedure [dbo].[ApellidosPagos]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ApellidosPagos](
	@Apellidos varchar(50)
	)
	as 
		select *from Pagos
		where Apellidos=@Apellidos
GO
/****** Object:  StoredProcedure [dbo].[articulos]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure  [dbo].[articulos](
	@IdArticulo bigint
	)
	as 
		select *from articulo
		where IdArticulo=@IdArticulo
GO
/****** Object:  StoredProcedure [dbo].[CantidadDeVenta]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CantidadDeVenta](
	@Cantidad int
)
as
begin 
	insert into detalle_venta(Cantidad)
	values (@Cantidad)
end
	exec CantidadDeVenta @Cantidad=100
GO
/****** Object:  StoredProcedure [dbo].[codigoss]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create procedure  [dbo].[codigoss](
	@Codigo int
	)
	as 
		select *from articulo
		where Codigo=@Codigo
GO
/****** Object:  StoredProcedure [dbo].[NombrePagos]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[NombrePagos](
	@Nombre varchar(50)
	)
	as 
		select *from Pagos
		where Nombre=@Nombre
GO
/****** Object:  StoredProcedure [dbo].[NuevoCliente]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[NuevoCliente](
	@Id bigint,
	@Nombre varchar(50),
	@Apellidos varchar(50),
	@Sexo text,
	@Telefono int
)
as
begin 
	insert into Cliente (Id,Nombre,Apellidos,Sexo,Telefono)
	values (@Id,@Nombre,@Apellidos,@Sexo,@Telefono)
end
	exec NuevoCliente @Id=13, @Nombre='Aurelio',@Apellidos='Hernandez',@Sexo=Masculino,@Telefono=811
GO
/****** Object:  StoredProcedure [dbo].[Pagoss]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create procedure  [dbo].[Pagoss](
	@Monto_Pago money
	)
	as 
		select *from Pagos
		where Monto_Pago=@Monto_Pago
GO
/****** Object:  StoredProcedure [dbo].[TrabajadorApellidos]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TrabajadorApellidos](
	@Apellidos varchar(50)
	)
	as 
		select *from Trabajador
		where Apellidos=@Apellidos
GO
/****** Object:  StoredProcedure [dbo].[TrabajadorNombre]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TrabajadorNombre](
	@Nombre varchar(50)
	)
	as 
		select *from Trabajador
		where Nombre=@Nombre
GO
/****** Object:  StoredProcedure [dbo].[Trabajadorr]    Script Date: 20/04/2019 4:31:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create procedure [dbo].[Trabajadorr](
	@IdTrabajador bigint
	)
	as 
		select *from Trabajador
		where IdTrabajador=@IdTrabajador
GO
USE [master]
GO
